<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="'Bids/Asks - ' + ${baseCurrency} + ' (last ' + ${days} + ' days)'">Liquidity</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.highcharts.com/stock/highstock.js"></script>

    <script type="text/javascript" src="https://coinliquidity.com/js/dropdown.js"></script>
    <link rel="stylesheet" href="https://coinliquidity.com/css/dropdown.css" type="text/css" media="all"/>
</head>
<body>

<div class="dropdown">
    <button onclick="showDropdown('ccyDropdown')" class="dropbtn" th:text="${baseCurrency}">BTC</button>
    <div id="ccyDropdown" class="dropdown-content">
        <a th:each="thisCurrency : ${currencies}"
           th:href="@{/liquidity/view/bid-ask/{ccy}(ccy=${thisCurrency},days=${days},exchange=${exchange},percent=${percent},view=${view})}"
           th:text="${thisCurrency}">BTC</a>
    </div>
</div>

<div class="dropdown">
    <button onclick="showDropdown('exchangeDropdown')" class="dropbtn" th:text="${exchange}">all</button>
    <div id="exchangeDropdown" class="dropdown-content">
        <a th:each="thisExchange : ${exchanges}"
           th:href="@{/liquidity/view/bid-ask/{ccy}(ccy=${baseCurrency},days=${days},exchange=${thisExchange},percent=${percent},view=${view})}"
           th:text="${thisExchange}">gdax.com</a>
    </div>
</div>

<div class="dropdown">
    <button onclick="showDropdown('percentDropdown')" class="dropbtn" th:text="${percent}">0</button>
    <div id="percentDropdown" class="dropdown-content">
        <a th:each="thisPercent : ${percents}"
           th:href="@{/liquidity/view/bid-ask/{ccy}(ccy=${baseCurrency},days=${days},exchange=${exchange},percent=${thisPercent},view=${view})}"
           th:text="${thisPercent}">5</a>
    </div>
</div>

<div class="dropdown">
    <button onclick="showDropdown('viewDropdown')" class="dropbtn" th:text="${view}">0</button>
    <div id="viewDropdown" class="dropdown-content">
        <a th:each="thisView : ${views}"
           th:href="@{/liquidity/view/bid-ask/{ccy}(ccy=${baseCurrency},days=${days},exchange=${exchange},percent=${thisPercent},view=${thisView})}"
           th:text="${thisView}">DEFAULT</a>
    </div>
</div>

<div id="container" style="width:100%; height:400px;"></div>
<script th:inline="javascript">
/*<![CDATA[*/
var baseCurrency = /*[[${baseCurrency}]]*/ 'BTC';
var days = /*[[${days}]]*/ 10;
var view = /*[[${view}]]*/ 'BASE';
var url = /*[[@{/liquidity/data/bid-ask/{ccy}(ccy=${baseCurrency},days=${days},exchange=${exchange},percent=${percent},view=${view})}]]*/ 'xyz';
/*]]>*/

// colors
var bidColor = 'Green'
var askColor = 'Red'
var priceColor = 'LightGray'

// labels
var bidsLabel = 'USD'
var asksLabel = 'USD'
if (view == 'DEFAULT') {
    bidsLabel = 'USD'
    asksLabel = baseCurrency
} else if (view == 'BASE') {
    bidsLabel = baseCurrency
    asksLabel = baseCurrency
}
bidsLabel = 'Bids (' + bidsLabel + ')'
asksLabel = 'Asks (' + asksLabel + ')'


$(document).ready(function () {
    var options = {
        chart: {
            renderTo: 'container',
            type: 'line'
        },
        title: {
            text: 'Bids/Asks - ' + baseCurrency + ' (last ' + days + ' days)'
        },
        yAxis: [
            {
                opposite: false,
                title: {
                    text: bidsLabel,
                    style: {
                        color: bidColor
                    }
                }
            },
            {
                opposite: true,
                title: {
                    text: asksLabel,
                    style: {
                        color: askColor
                    }
                }
            },
            {
                opposite: true,
                title: {
                    text: 'Price',
                    style: {
                        color: priceColor
                    }
                }
            }
        ],
        series: [
            {
                yAxis: 0,
                name: bidsLabel,
                color: bidColor
            },
            {
                yAxis: 1,
                name: asksLabel,
                color: askColor
            },
            {
                yAxis: 2,
                name: 'Price',
                color: priceColor
            }
        ]
    };

    $.getJSON(url, function(data) {
        options.series[0].data = data['bids'];
        options.series[1].data = data['asks'];
        options.series[2].data = data['price'];
        new Highcharts.StockChart(options);
    });
});


</script>
</body>
</html>