<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="'Liquidity Data - ' + ${title}">Liquidity Data</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/themes/blue/style.css" type="text/css" media="all"/>
    <script type="text/javascript" src="/jquery-latest.js"></script>
    <script type="text/javascript" src="/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" id="js">
$.tablesorter.addParser({
    id: 'thousands',
    is: function(s) {
        return false;
    },
    format: function(s) {
        if (s == 'n/a') return "99999999999999";
        return s.replace('$','').replace(/,/g,'');
    },
    type: 'numeric'
});

$(function() {
    $("table").tablesorter({
        headers: {
            2: { sorter:'thousands' },
            3: { sorter:'thousands' },
            4: { sorter:'thousands' },
            5: { sorter:'thousands' },
            6: { sorter:'thousands' },
            7: { sorter:'thousands' }
        },
        sortList: [[1,0]]
    });
});

    </script>
</head>
<body>
<h1 th:text="'Liquidity Data - ' + ${title}">Liquidity Data</h1>
<table class="tablesorter">
    <thead>
    <tr>
        <th>Timestamp</th>
        <th>Cost to Sell (%)</th>
        <th>Cost to Buy (%)</th>
        <th>Best Bid</th>
        <th>Best Ask</th>
        <th>Total Bids (USD)</th>
        <th>Total Asks (base)</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="datum : ${liquidityData.liquidityData}">
        <td th:text="${datum.updateTime}">1/1/2017</td>
        <td th:text="${datum.sellCost} ?: 'n/a'">1.23</td>
        <td th:text="${datum.buyCost} ?: 'n/a'">1.55</td>
        <td th:text="${datum.bestBid} ?: 'n/a'">100.42</td>
        <td th:text="${datum.bestAsk} ?: 'n/a'">100.43</td>
        <td th:text="${#numbers.formatDecimal(datum.totalBids, 0, 'COMMA', 0, 'POINT')}">3500</td>
        <td th:text="${#numbers.formatDecimal(datum.totalAsks, 0, 'COMMA', 0, 'POINT')}">1234</td>
    </tr>
    </tbody>
</table>

</body>
</html>