<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="'Liquidity Data - ' + ${title}">Liquidity Data</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://coinliquidity.com/themes/blue/style.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="https://coinliquidity.com/css/default.css" type="text/css" media="all"/>
    <script type="text/javascript" src="https://coinliquidity.com/jquery-latest.js"></script>
    <script type="text/javascript" src="https://coinliquidity.com/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" id="js">
$.tablesorter.addParser({
    id: 'thousands',
    is: function(s) {
        return false;
    },
    format: function(s) {
        if (s == 'n/a') return "99999999999999";
        return s.replace('$','').replace(/,/g,'');
    },
    type: 'numeric'
});

$(function() {
    $("table").tablesorter({
        headers: {
            2: { sorter:'thousands' },
            3: { sorter:'thousands' },
            4: { sorter:'thousands' },
            5: { sorter:'thousands' },
            6: { sorter:'thousands' },
            7: { sorter:'thousands' }
        },
        sortList: [[2,1],[3,1]]
    });
});

    </script>
</head>
<body>
<h1 th:text="'Liquidity Data - ' + ${title}">Liquidity Data</h1>
<table class="tablesorter">
    <thead>
    <tr>
        <th>Exchange</th>
        <th>Pair</th>
        <th>Liquidity Score</th>
        <th>Best Bid</th>
        <th>Best Ask</th>
        <th>Total Bids (USD)</th>
        <th>Total Asks (base)</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="datum : ${liquidityData.liquidityData}">
        <td>
            <a th:href="@{'/liquidity/view/exchange/' + ${datum.exchange}}" th:text="${datum.exchange}">gdax.com</a>
        </td>
        <td>
            <a th:href="@{'/liquidity/view/currency/' + ${datum.currencyPair}}" th:text="${datum.currencyPair}">BTC/USD</a>
        </td>
        <td th:text="${#numbers.formatDecimal(datum.liquidityScore, 0, 'COMMA', 0, 'POINT')}">123,456</td>
        <td th:text="${datum.bestBid} ?: 'n/a'">100.42</td>
        <td th:text="${datum.bestAsk} ?: 'n/a'">100.43</td>
        <td th:text="${#numbers.formatDecimal(datum.totalBidsUsd, 0, 'COMMA', 0, 'POINT')}">3500</td>
        <td th:text="${#numbers.formatDecimal(datum.totalAsks, 0, 'COMMA', 0, 'POINT')}">1234</td>
    </tr>
    </tbody>
</table>

<p th:text="'Last updated on ' + ${liquidityData.updateTime}"></p>

</body>
</html>