<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Status</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/themes/blue/style.css" type="text/css" media="all"/>
    <script type="text/javascript" src="/jquery-latest.js"></script>
    <script type="text/javascript" src="/jquery.tablesorter.min.js"></script>
</head>
<body>
<h1>Status</h1>
<table class="tablesorter">
    <thead>
    <tr>
        <th>Exchange</th>
        <th>Pair</th>
        <th>Status</th>
        <th>Bids</th>
        <th>Asks</th>
        <th>Time Elapsed</th>
        <th>Update Time</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="status : ${statuses}">
        <td th:text="${status.exchange}">gdax.com</td>
        <td th:text="${status.currencyPair}">BTC/USD</td>
        <td th:text="${status.status}">OK</td>
        <td th:text="${status.totalBids}">642</td>
        <td th:text="${status.totalAsks}">511</td>
        <td th:text="${status.timeElapsed}">1234</td>
        <td th:text="${status.updateTime}">2:00</td>
    </tr>
    </tbody>
</table>

<p th:text="'Uptime ' + ${uptime}">1.5d</p>

</body>
</html>