<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Status</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://coinliquidity.com/themes/blue/style.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="https://coinliquidity.com/css/default.css" type="text/css" media="all"/>
    <script type="text/javascript" src="https://coinliquidity.com/jquery-latest.js"></script>
    <script type="text/javascript" src="https://coinliquidity.com/jquery.tablesorter.min.js"></script>
</head>
<body>
<h1>Status</h1>
<table class="tablesorter">
    <thead>
    <tr>
        <th>Exchange</th>
        <th>Pair</th>
        <th>Max Depth</th>
        <th>Bids</th>
        <th>Asks</th>
        <th>Dl Ms</th>
        <th>Status</th>
        <th>Last OK</th>
        <th>Last Error</th>
        <th>Last Error Msg</th>
        <th>Error Count</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="status : ${statuses}" >
        <td>
            <a th:class="${status.displayClass}"
               th:href="${status.exchange.docUrl}"
               th:text="${status.exchange.name}">gdax.com</a>
        </td>
        <td>
            <a th:text="${status.currencyPair}" th:href="${status.orderBookUrl}" >BTC/USD</a>
        </td>
        <td th:text="${status.exchange.maxDepth}">2000</td>
        <td th:text="${status.totalBids}">642</td>
        <td th:text="${status.totalAsks}">511</td>
        <td th:text="${status.timeElapsed}">1234</td>

        <td th:text="${status.status}">OK</td>
        <td th:text="${status.lastOk}">5 m</td>
        <td th:text="${status.lastError}">20 h</td>
        <td th:text="${status.lastErrorMessage}">Read timed out</td>
        <td th:text="${status.errorCount}">Error Count</td>
    </tr>
    </tbody>
</table>

<p th:text="'Uptime ' + ${uptime}">1.5d</p>

</body>
</html>